<div class="container" id="signup-form">
  <div class=" col-sm-6 form-sign">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Étape 1</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Étape 2</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Étape 3</a>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <h1>1. Créez votre compte</h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <div class="form-input">
            <%= f.input :email,required: true, autofocus: true,input_html: { autocomplete: "email" }%>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="text-center">
        <div class="btn btn-flat">
          <a href="" id="next-step">Prochaine étape</a>
        </div>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <h1>2. Donnez vos préférences</h1>
          <p>Quelles couleurs de vin aimez-vous ? <%= image_tag "information.png", data: { toggle:"tooltip", placement: "top"}, title:"toto"%> </p>
            <div class="flex-row">
              <div class="category_choices flex-row">
                <div class="category_choice"><%= f.input :color_red, as: :boolean, label: "Rouge", input_html: { class: 'd-none' } %></div>
                <div class="category_choice"><%= f.input :color_white, as: :boolean, label: "Blanc", input_html: { class: 'd-none' } %></div>
                <div class="category_choice"><%= f.input :color_rose, as: :boolean, label: "Rosé", input_html: { class: 'd-none' } %></div>
              </div>
            </div>

        <p> Quelles sont vos région favorites ? <%= image_tag "information.png" %></p>
          <div class="category_choices">
            <div class="category_choice"><%= f.input :region_alsace, as: :boolean, label: "Alsace", input_html: { class: 'd-none' } %></div>
            <div class="category_choice"><%= f.input :region_bordeaux, as: :boolean, label: "Bordeaux", input_html: { class: 'd-none' }  %></div>
            <div class="category_choice"><%= f.input :region_bourgogne, as: :boolean, label: "Bourgogne", input_html: { class: 'd-none' } %></div>
            <div class="category_choice"><%= f.input :region_loire, as: :boolean, label: "Loire", input_html: { class: 'd-none' } %></div>
            <div class="category_choice"><%= f.input :region_rhone, as: :boolean, label: "Rhone", input_html: { class: 'd-none' }  %></div>
          </div>

        <p> Plutôt léger ou corsé ? <%= image_tag "information.png" %></p>
          <div class="category_choices">
            <div class="category_choice"><%= f.input :alcool_light, as: :boolean, label: " < 12.5%", input_html: { class: 'd-none' } %></div>
            <div class="category_choice"><%= f.input :alcool_strong, as: :boolean, label: " > 12.5%", input_html: { class: 'd-none' } %></div>
          </div>

        <p> Souhaitez-vous recevoir des vins ? <%= image_tag "information.png" %></p>
          <div class="category_choices">
            <div class="category_choice"><%= f.input :classification_biodynamique, as: :boolean, label: "Biodynamiques", input_html: { class: 'd-none' } %></div>
            <div class="category_choice"><%= f.input :classification_naturel, as: :boolean, label: "Naturels", input_html: { class: 'd-none' } %></div>
          </div>
        <div class="text-center">
          <div class="btn btn-flat">
          <a href="" id="next-step-2">Prochaine étape</a>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
      </div>


      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

        <p> Caractéristiques ?</p>
              <div class="category_choices">

                <div class="category_choice_caracteristic d-inline-block"><%= f.input :vin_leger, as: :boolean, label: "Léger", input_html: { class: 'd-none' } %></div>
                <div class="category_choice_caracteristic d-inline-block"><%= f.input :vin_puissant, as: :boolean, label: "Puissant", input_html: { class: 'd-none' } %></div>


                <div class="category_choice_caracteristic d-inline-block"><%= f.input :vin_fruite, as: :boolean, label: "Fruité", input_html: { class: 'd-none' } %></div>
                <div class="category_choice_caracteristic d-inline-block"><%= f.input :vin_tannique, as: :boolean, label: "Tannique", input_html: { class: 'd-none' } %></div>


                <div class="category_choice_caracteristic d-inline-block"><%= f.input :vin_sec, as: :boolean, label: "Sec", input_html: { class: 'd-none' } %></div>
                <div class="category_choice_caracteristic d-inline-block"><%= f.input :vin_sucre, as: :boolean, label: "Sucré", input_html: { class: 'd-none' } %></div>


                <div class="category_choice_caracteristic d-inline-block"><%= f.input :vin_mineral, as: :boolean, label: "Minéral", input_html: { class: 'd-none' } %></div>
                <div class="category_choice_caracteristic d-inline-block"><%= f.input :vin_fruite, as: :boolean, label: "Fruité", input_html: { class: 'd-none' } %></div>
              </div>

              <%= f.button :submit, "Créer mon compte", class:"btn btn-primary" %>


            <% end %>

            <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
