<div class="container suggestions">
  <h3> <%=@user.first_name.capitalize %>, voici les 2 vins que nous vous recommandons :</h3>
  <div class="row justify-content-md-center mt-4">
      <% @wines[0..1].each do |wine|  %>
        <div class="col-sm-4">
          <div class="card-wine">
              <%= cl_image_tag wine.wine_photo.key %>
                <div class="card-wine-color <%= wine.color %>">
                  <p><%= wine.color %></p>
                </div>
            <div class="card-trip-infos">
              <div>
                <h3> <strong><%= wine.name %> </strong> </h3>
                <h5><%= wine.description.first(150) %> ...</h5>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
<h4> Troquez l'une de vos bouteilles avec l'une des suivantes :</h4>
  <div class="row">
      <% @wines[2..-1].each do |wine|  %>
        <div class="col-sm-4">
          <div class="card-wine">
              <%= cl_image_tag wine.wine_photo.key %>
                <div class="card-wine-color <%= wine.color %>">
                  <p><%= wine.color %></p>
                </div>
            <div class="card-trip-infos">
              <div>
                <h3> <strong><%= wine.name %> </strong> </h3>
                <h5><%= wine.description.first(150) %> ...</h5>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>





