  <h1>Vignerons#index</h1>
  <p>Find me in app/views/vignerons/index.html.erb</p>


  <div class="container col-11">
    <p>Classement par ordre de pertinence</p>
    <div class='d-flex'>
      <% @vignerons.each do |vigneron| %>
        <div class='column-cards'>
          <h2><%= vigneron.first_name %></h2>
          <p><%= vigneron.last_name %></p>​​
          <p> <%= cl_image_tag vigneron.avatar.key, crop: :fill %></p>​​
          <p> <%= cl_image_tag vigneron.domain_photo.key, crop: :fill %></p>​​
        <p><%= link_to 'show', vigneron_path(vigneron)%></p>
        </div>
      <% end %>
    </div>
  </div>

