<%= cl_image_tag @vigneron.domain_photo.key, class: 'banner-3' %>
<div class="container vigneron-show">
  <%= image_tag url_for(@vigneron.avatar), class: 'card-trip-vigneron-show avatar-bordered' %>
  <div class="card-trip-region-show <%= @vigneron.region %>">
    <p><%= @vigneron.region %></p>
  </div>
    <h3> <strong><%= @vigneron.first_name %> <%= @vigneron.last_name %></strong>  - <i><%= @vigneron.domain_name %></i> </h3>
    <p> <%= image_tag "cepages.png", class: 'picto-show' %> <strong>Cépages</strong>: <%=@vigneron.cepages  %> </p>
    <p> <%= image_tag "pin.png", class: 'picto-show' %> <strong>Localisation</strong>: <%=@vigneron.city %>, <%=@vigneron.zip_code %> </p>
    <p><%= @vigneron.description.first(1000) %></p>
    <h4>Les vins de <%= @vigneron.first_name%>:</h4>
  <div class="row">
      <% @vigneron.wines.first(3).each do |wine| %>
        <div class="col-sm-4">
          <%= link_to vigneron_wine_path(@vigneron, wine) do %>
          <div class="card-wine">
              <%= cl_image_tag wine.wine_photo.key %>
                <div class="card-wine-color <%= wine.color %>">
                  <p><%= wine.color %></p>
                </div>
            <div class="card-trip-infos">
              <div>
                <h3> <strong><%= wine.name %> </strong> </h3>
                <h5><%= wine.description.first(150) %> ...</h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

